@import url(https://themes.googleusercontent.com/fonts/css?kit=-lTUqgJg2dxbe4D7B5DEIMHlanHiFqaRh2uulaKcvVFGjb75Zx5JXHVU7Rhgbq_H96xlbbE5D7Gw2o7jubnkMA);

ul.lst-kix_ag9eq22esua0-7 {
  list-style-type: none;
}
ul.lst-kix_ag9eq22esua0-6 {
  list-style-type: none;
}
.lst-kix_xwntrhsreqfs-8 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_ag9eq22esua0-8 {
  list-style-type: none;
}
ul.lst-kix_ag9eq22esua0-3 {
  list-style-type: none;
}
ul.lst-kix_ag9eq22esua0-2 {
  list-style-type: none;
}
ul.lst-kix_ag9eq22esua0-5 {
  list-style-type: none;
}
ul.lst-kix_ag9eq22esua0-4 {
  list-style-type: none;
}
.lst-kix_xwntrhsreqfs-5 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_ag9eq22esua0-1 {
  list-style-type: none;
}
.lst-kix_xwntrhsreqfs-6 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_ag9eq22esua0-0 {
  list-style-type: none;
}
.lst-kix_xwntrhsreqfs-7 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_dahdmaxsvnkk-0 {
  list-style-type: none;
}
.lst-kix_ag9eq22esua0-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ag9eq22esua0-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ag9eq22esua0-3 > li:before {
  content: "\0025cf   ";
}
.lst-kix_ag9eq22esua0-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ag9eq22esua0-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ag9eq22esua0-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_dahdmaxsvnkk-3 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-4 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-1 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-2 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-7 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-8 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-5 {
  list-style-type: none;
}
ul.lst-kix_dahdmaxsvnkk-6 {
  list-style-type: none;
}
.lst-kix_ag9eq22esua0-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_ag9eq22esua0-7 > li:before {
  content: "\0025cb   ";
}
.lst-kix_ag9eq22esua0-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_dahdmaxsvnkk-5 > li:before {
  content: "\0025a0   ";
}
.lst-kix_dahdmaxsvnkk-6 > li:before {
  content: "\0025cf   ";
}
.lst-kix_dahdmaxsvnkk-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_dahdmaxsvnkk-8 > li:before {
  content: "\0025a0   ";
}
.lst-kix_dahdmaxsvnkk-7 > li:before {
  content: "\0025cb   ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.lst-kix_xwntrhsreqfs-1 > li:before {
  content: "\0025cb   ";
}
ul.lst-kix_xwntrhsreqfs-3 {
  list-style-type: none;
}
ul.lst-kix_xwntrhsreqfs-2 {
  list-style-type: none;
}
.lst-kix_xwntrhsreqfs-0 > li:before {
  content: "\0025cf   ";
}
.lst-kix_xwntrhsreqfs-2 > li:before {
  content: "\0025a0   ";
}
ul.lst-kix_xwntrhsreqfs-5 {
  list-style-type: none;
}
ul.lst-kix_xwntrhsreqfs-4 {
  list-style-type: none;
}
.lst-kix_dahdmaxsvnkk-0 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_xwntrhsreqfs-1 {
  list-style-type: none;
}
ul.lst-kix_xwntrhsreqfs-0 {
  list-style-type: none;
}
.lst-kix_dahdmaxsvnkk-1 > li:before {
  content: "\0025cb   ";
}
.lst-kix_dahdmaxsvnkk-2 > li:before {
  content: "\0025a0   ";
}
.lst-kix_xwntrhsreqfs-4 > li:before {
  content: "\0025cb   ";
}
.lst-kix_xwntrhsreqfs-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_xwntrhsreqfs-7 {
  list-style-type: none;
}
.lst-kix_dahdmaxsvnkk-3 > li:before {
  content: "\0025cf   ";
}
ul.lst-kix_xwntrhsreqfs-6 {
  list-style-type: none;
}
ul.lst-kix_xwntrhsreqfs-8 {
  list-style-type: none;
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c5 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #cfe2f3;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 523.3pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c41 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #1155cc;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #1155cc;
  vertical-align: middle;
  border-right-color: #1155cc;
  border-left-width: 0pt;
  border-top-style: solid;
  background-color: #cfe2f3;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 523.3pt;
  border-top-color: #1155cc;
  border-bottom-style: solid;
}
.c34 {
  border-right-style: solid;
  padding: 1.4pt 1.4pt 1.4pt 1.4pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 261pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c26 {
  border-right-style: solid;
  padding: 3.6pt 3.6pt 3.6pt 3.6pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 229.5pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c44 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 261pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c36 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 228pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c30 {
  border-right-style: solid;
  padding: 5pt 5pt 5pt 5pt;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 172.5pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c22 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 295.3pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c45 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 351pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c33 {
  border-right-style: solid;
  border-bottom-color: #000000;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #000000;
  vertical-align: middle;
  border-right-color: #000000;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 293.2pt;
  border-top-color: #000000;
  border-bottom-style: solid;
}
.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-style: normal;
}
.c9 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: normal;
}
.c32 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: right;
}
.c28 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  text-align: left;
}
.c3 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  text-align: left;
}
.c17 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.6;
  text-align: left;
}
.c46 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 0.6;
  text-align: right;
}
.c14 {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c16 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left;
}
.c25 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-style: normal;
}
.c27 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.2;
  text-align: left;
}
.c19 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal;
}
.c1 {
  font-size: 12pt;
  font-weight: 600;
  font-family: "Montserrat";
}
.c13 {
  font-size: 12pt;
  font-weight: 500;
  font-family: "Montserrat";
}
.c40 {
  background-color: #ffffff;
  max-width: 523.3pt;
  padding: 36pt 36pt 36pt 36pt;
}
.c31 {
  font-size: 22pt;
  font-weight: 600;
  font-family: "Montserrat";
}
.c24 {
  font-family: "Montserrat";
  font-weight: 500;
}
.c37 {
  font-weight: 600;
  font-family: "Montserrat";
}
.c35 {
  font-style: italic;
  color: #999999;
}
.c12 {
  orphans: 2;
  widows: 2;
}
.c11 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.c21 {
  padding: 0;
  margin: 0;
}
.c10 {
  color: inherit;
  text-decoration: inherit;
}
.c4 {
  font-weight: 400;
  font-family: "Montserrat";
}
.c7 {
  height: 0pt;
}
.c20 {
  background-color: #00ffff;
}
.c18 {
  font-size: 12pt;
}
.c6 {
  height: 11pt;
}
.c23 {
  color: #1155cc;
}
.c29 {
  font-size: 13pt;
}
.c42 {
  height: 43pt;
}
.c15 {
  font-size: 10pt;
}
.c39 {
  font-size: 14pt;
}
.c38 {
  font-style: italic;
}
.c43 {
  font-size: 9pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
